<div class="flex min-h-screen flex-col">
  <div>
    <p class="font-bold text-5xl text-center p-10">Turnos</p>
  </div>
  <!--TURNOS-->
  <div class="flex flex-wrap justify-center gap-4 p-10">
    @for (item of obtenerProximosDias(); track $index) {
    <div class="flex flex-col">
      <div
        [ngClass]="{
          'bg-red-500':
            item.valueOf() == 'sábado' || item.valueOf() == 'domingo'
        }"
        class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold justify-center items-center align-middle mx-auto mb-5"
      >
        @if($index != 0){
        <p class="text-center mx-auto font-sans">{{ item.valueOf() }}</p>
        } @else {
        <p class="text-center mx-auto">Hoy</p>
        }
      </div>
      @if(item.valueOf() == "sábado" || item.valueOf() == "domingo") {
      <div
        class="h-full m-2 w-60 bg-red-500 text-center text-white rounded-2xl font-bold"
      >
        Cerrado
      </div>

      }@else{
      <div
        class="h-30 w-60 rounded-2xl font-bold text-gray-500 border-gray-100 bg-blue-200 p-3 m-2 hover:bg-blue-300"
        (click)="seleccionarTurno({ dia: item, hora: '9:00 - 11:00' })"
        [ngClass]="{
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '9:00 - 11:00'
        }"
        style="cursor: pointer"
      >
        9:00 - 11:00
        <div
          class="text-xs text-red-50 flex flex-row h-6 w-15 align-middle justify-center rounded-4xl bg-red-200"
        >
          <div class="rounded-full bg-red-500 h-3 w-3 m-1"></div>
          <p class="text-xs font-semibolds text-red-600">Lleno</p>
        </div>
      </div>

      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 bg-blue-200 p-3 m-2"
        (click)="seleccionarTurno({ dia: item, hora: '11:00 - 13:00' })"
        [ngClass]="{
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '11:00 - 13:00'
        }"
        style="cursor: pointer"
      >
        11:00 - 13:00
        <div
          class="text-xs text-red-50 flex flex-row h-6 w-15 align-middle justify-center rounded-4xl bg-green-200 hover:bg-blue-300"
        >
          <div class="rounded-full bg-green-500 h-3 w-3 m-1"></div>
          <p class="text-xs font-semibolds text-green-600">Libre</p>
        </div>
      </div>
      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 bg-blue-200 p-3 m-2"
        (click)="seleccionarTurno({ dia: item, hora: '14:00 - 16:00' })"
        [ngClass]="{
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '14:00 - 16:00'
        }"
        style="cursor: pointer"
      >
        14:00 - 16:00
      </div>
      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 bg-blue-200 p-3 m-2"
        (click)="seleccionarTurno({ dia: item, hora: '16:00 - 18:00' })"
        [ngClass]="{
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '16:00 - 18:00'
        }"
        style="cursor: pointer"
      >
        16:00 - 18:00
      </div>
      }
    </div>

    }
  </div>

  <!--TURNOS-->
</div>
