<div class="flex min-h-screen flex-col">
  <div>
    <p class="font-bold text-5xl text-center p-10">Turnos</p>
  </div>
  <!--TURNOS-->
  <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4 p-10">
    <div
      class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold justify-center items-center align-middle mx-auto mb-5"
    >
      <p class="text-center mx-auto">Lunes</p>
    </div>
    <div
      class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold justify-center items-center align-middle mx-auto mb-5"
    >
      <p class="text-center mx-auto">Lunes</p>
    </div>
    <div
      class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold justify-center items-center align-middle mx-auto mb-5"
    >
      <p class="text-center mx-auto">Lunes</p>
    </div>
    <div
      class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold justify-center items-center align-middle mx-auto mb-5"
    >
      <p class="text-center mx-auto">Lunes</p>
    </div>
  </div>
  <!--TURNOS-->
</div>
