<div class="flex min-h-screen flex-col">
  <div>
    <p class="font-bold text-5xl text-center p-10">Turnos</p>
  </div>
  <div class="flex flex-wrap justify-center gap-4 p-10">
    @for (item of obtenerProximosDias(); track $index) { @if(item.valueOf() !=
    "domingo") {
    <div class="flex flex-col">
      <!-- Header del día -->
      <div
        [ngClass]="{
          'bg-red-500': item.valueOf() == 'sábado'
        }"
        class="bg-blue-500 rounded-2xl h-10 w-60 text-white font-bold flex justify-center items-center mx-auto mb-5"
      >
        @if($index != 0){
        <p class="text-center mx-auto font-sans">{{ item.valueOf() }}</p>
        } @else {
        <p class="text-center mx-auto">Hoy</p>
        }
      </div>
      <!-- Si es sábado, mostrar cerrado -->
      @if(item.valueOf() == "sábado") {
      <div
        class="h-full m-2 w-60 bg-red-500 text-center text-white rounded-2xl font-bold"
      >
        Cerrado
      </div>
      } @else {
      <!-- Horarios -->
      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 p-3 m-2 hover:bg-blue-300 relative"
        (click)="seleccionarTurno({ dia: item, hora: '9:00 - 11:00' })"
        [ngClass]="{
          'bg-red-200': isTurnoLleno(getFechaByIndex($index), '9:00'),
          'bg-blue-200': !isTurnoLleno(getFechaByIndex($index), '9:00'),
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '9:00 - 11:00'
        }"
        [class.opacity-60]="
          isTurnoLleno(getFechaByIndex($index), '9:00') ||
          isHorarioPasado(getFechaByIndex($index), '9:00')
        "
        [class.pointer-events-none]="
          isTurnoLleno(getFechaByIndex($index), '9:00') ||
          isHorarioPasado(getFechaByIndex($index), '9:00')
        "
        [class.cursor-not-allowed]="
          isTurnoLleno(getFechaByIndex($index), '9:00') ||
          isHorarioPasado(getFechaByIndex($index), '9:00')
        "
        style="cursor: pointer"
      >
        9:00 - 11:00
        <span
          *ngIf="isTurnoLleno(getFechaByIndex($index), '9:00')"
          class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full absolute top-2 right-2 dark:bg-red-900 dark:text-red-300"
        >
          Lleno
        </span>
        <span
          *ngIf="isAdmin"
          class="absolute bottom-2 right-2 bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
        >
          Libres: {{ getLugaresLibres(getFechaByIndex($index), "9:00") }}
        </span>
      </div>

      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 p-3 m-2 hover:bg-blue-300 relative"
        (click)="seleccionarTurno({ dia: item, hora: '11:00 - 13:00' })"
        [ngClass]="{
          'bg-red-200': isTurnoLleno(getFechaByIndex($index), '11:00'),
          'bg-blue-200': !isTurnoLleno(getFechaByIndex($index), '11:00'),
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '11:00 - 13:00'
        }"
        [class.opacity-60]="
          isTurnoLleno(getFechaByIndex($index), '11:00') ||
          isHorarioPasado(getFechaByIndex($index), '11:00')
        "
        [class.pointer-events-none]="
          isTurnoLleno(getFechaByIndex($index), '11:00') ||
          isHorarioPasado(getFechaByIndex($index), '11:00')
        "
        [class.cursor-not-allowed]="
          isTurnoLleno(getFechaByIndex($index), '11:00') ||
          isHorarioPasado(getFechaByIndex($index), '11:00')
        "
        style="cursor: pointer"
      >
        11:00 - 13:00
        <span
          *ngIf="isTurnoLleno(getFechaByIndex($index), '11:00')"
          class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full absolute top-2 right-2 dark:bg-red-900 dark:text-red-300"
        >
          Lleno
        </span>
        <span
          *ngIf="isAdmin"
          class="absolute bottom-2 right-2 bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
        >
          Libres: {{ getLugaresLibres(getFechaByIndex($index), "11:00") }}
        </span>
      </div>
      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 p-3 m-2 hover:bg-blue-300 relative"
        (click)="seleccionarTurno({ dia: item, hora: '14:00 - 16:00' })"
        [ngClass]="{
          'bg-red-200': isTurnoLleno(getFechaByIndex($index), '14:00'),
          'bg-blue-200': !isTurnoLleno(getFechaByIndex($index), '14:00'),
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '14:00 - 16:00'
        }"
        [class.opacity-60]="
          isTurnoLleno(getFechaByIndex($index), '14:00') ||
          isHorarioPasado(getFechaByIndex($index), '14:00')
        "
        [class.pointer-events-none]="
          isTurnoLleno(getFechaByIndex($index), '14:00') ||
          isHorarioPasado(getFechaByIndex($index), '14:00')
        "
        [class.cursor-not-allowed]="
          isTurnoLleno(getFechaByIndex($index), '14:00') ||
          isHorarioPasado(getFechaByIndex($index), '14:00')
        "
        style="cursor: pointer"
      >
        14:00 - 16:00
        <span
          *ngIf="isTurnoLleno(getFechaByIndex($index), '14:00')"
          class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full absolute top-2 right-2 dark:bg-red-900 dark:text-red-300"
        >
          Lleno
        </span>
      </div>
      <div
        class="h-30 w-60 rounded-2xl font-bold border-gray-100 p-3 m-2 hover:bg-blue-300 relative"
        (click)="seleccionarTurno({ dia: item, hora: '16:00 - 18:00' })"
        [ngClass]="{
          'bg-red-200': isTurnoLleno(getFechaByIndex($index), '16:00'),
          'bg-blue-200': !isTurnoLleno(getFechaByIndex($index), '16:00'),
          'ring-4 ring-blue-600':
            turnoSeleccionado?.dia === item &&
            turnoSeleccionado?.hora === '16:00 - 18:00'
        }"
        [class.opacity-60]="
          isTurnoLleno(getFechaByIndex($index), '16:00') ||
          isHorarioPasado(getFechaByIndex($index), '16:00')
        "
        [class.pointer-events-none]="
          isTurnoLleno(getFechaByIndex($index), '16:00') ||
          isHorarioPasado(getFechaByIndex($index), '16:00')
        "
        [class.cursor-not-allowed]="
          isTurnoLleno(getFechaByIndex($index), '16:00') ||
          isHorarioPasado(getFechaByIndex($index), '16:00')
        "
        style="cursor: pointer"
      >
        16:00 - 18:00
        <span
          *ngIf="isTurnoLleno(getFechaByIndex($index), '16:00')"
          class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full absolute top-2 right-2 dark:bg-red-900 dark:text-red-300"
        >
          Lleno
        </span>
      </div>
      }
    </div>
    } }
  </div>
</div>
<!--TURNOS-->
