<div class="bg-sky-100 pt-3 min-h-screen">
  <div class="bg-white rounded-2xl m-3">
    <form class="py-4 md:py-8 p-4">
      <div class="flex">
        <select
          id="countries"
          name="category"
          (change)="filter()"
          [(ngModel)]="category"
          class="bg-gray-50 border me-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
        >
          <option value="" selected>Categorías</option>
          <option value="MOTOR">Motor</option>
          <option value="REFRIGERACION">Refrigeración</option>

          <option value="LUBRICACION">Lubricación</option>
        </select>
        <div class="relative w-full">
          <input
            type="search"
            [(ngModel)]="search"
            name="search"
            (input)="filter()"
            id="search-dropdown"
            class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Nombre"
          />
          <button
            type="submit"
            class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-sky-800 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </button>
        </div>
        @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
        <button
          (click)="redirectToTo('/registrarRepuesto')"
          type="button"
          class="focus:outline-none text-white bg-sky-800 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 ms-2"
        >
          Añadir
        </button>
        }
      </div>
    </form>
  </div>

  <!-- Contenedor principal -->
  @if(category == 'MOTOR' || category == '' && count("MOTOR") > 0) {
  <p class="p-2 font-bold ms-5 text-4xl text-sky-950">Motor</p>
  <ng-scrollbar visibility="hover" track="horizontal">
    <div class="flex gap-6 p-5">
      @for (i of listFilteres; track $index) { @if(i.category == 'MOTOR' &&
      i.name.toLowerCase().includes(search.toLowerCase()) || i.category ==
      'MOTOR' && search == '') {
      <div
        class="min-w-[350px] sm:min-w-[220px] bg-white p-4 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
      >
        <img
          class="h-50 w-full md:w-55 rounded-2xl object-contain"
          src="{{ i.image1 }}"
          alt="image description"
        />
        <p class="font-bold mt-2 text-sky-950">
          {{ i.name + " (" + i.brand + ")" }}
        </p>
        <p class="text-gray-700">${{ i.price }}</p>
        @if(i.discaunt != 0) {
        <p class="text-green-500 text-xs">{{ i.discaunt }}% OFF</p>
        } @if(i.stock === 0){
        <span
          class="text-red-600 bg-red-100 font-bold text-[10px] rounded px-2 py-0.5 ms-2 mb-1 border border-red-300 align-middle inline-block"
          >Agotado</span
        >
        }
        <div class="flex flex-row items-center">
          <button
            (click)="redirectTo('/repuesto', i.id)"
            type="button"
            class="text-white mt-2 bg-sky-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            [disabled]="i.stock === 0"
            [ngClass]="i.stock === 0 ? 'opacity-50 cursor-not-allowed' : ''"
          >
            Ver
          </button>
          @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
          <button
            (click)="redirectTo('/modificarRepuesto', i.id)"
            type="button"
            class="text-sky-800 mt-2 bg-sky-100 hover:bg-sky-600 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
          >
            Editar
          </button>
          }
        </div>
      </div>
      } }
    </div>
  </ng-scrollbar>
  }
  <!--REFRIGERACION-->
  @if(category == 'REFRIGERACION' || category == ''&& count("REFRIGERACION") >
  0) {
  <p class="p-2 font-bold ms-5 text-4xl text-sky-950">Refrigeración</p>
  <ng-scrollbar visibility="hover" track="horizontal">
    <div class="flex gap-6 p-5">
      @for (i of lst; track $index) { @if(i.category == 'REFRIGERACION'&&
      i.name.toLowerCase().includes(search.toLowerCase()) || i.category ==
      'REFRIGERACION' && search == '') {
      <div
        class="min-w-[350px] sm:min-w-[220px] bg-white p-4 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
      >
        <img
          class="h-50 w-full md:w-55 rounded-2xl object-contain"
          src="{{ i.image1 }}"
          alt="image description"
        />
        <p class="font-bold mt-2 text-sky-950">
          {{ i.name + " (" + i.brand + ")" }}
        </p>
        <p class="text-gray-700">${{ i.price }}</p>
        @if(i.discaunt != 0) {
        <p class="text-green-500 text-xs">{{ i.discaunt }}% OFF</p>
        } @if(i.stock === 0){
        <span
          class="text-red-600 bg-red-100 font-bold text-[10px] rounded px-2 py-0.5 ms-2 mb-1 border border-red-300 align-middle inline-block"
          >Agotado</span
        >
        }
        <div class="flex flex-row items-center">
          <button
            (click)="redirectTo('/repuesto', i.id)"
            type="button"
            class="text-white mt-2 bg-sky-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            [disabled]="i.stock === 0"
            [ngClass]="i.stock === 0 ? 'opacity-50 cursor-not-allowed' : ''"
          >
            Ver
          </button>
        </div>
        @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
        <button
          (click)="redirectTo('/modificarRepuesto', i.id)"
          type="button"
          class="text-sky-950 mt-5 bg-sky-100 hover:bg-sky-600 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
        >
          Editar
        </button>
        }
      </div>
      } }
    </div>
  </ng-scrollbar>
  } @if(category == 'LUBRICACION' || category == ''&& count("LUBRICACION") > 0)
  {
  <p class="p-2 font-bold ms-5 text-4xl text-sky-950">Lubricación</p>
  <ng-scrollbar visibility="hover" track="horizontal">
    <div class="flex gap-6 p-5">
      @for (i of lst; track $index) { @if(i.category == 'LUBRICACION' &&
      i.name.toLowerCase().includes(search.toLowerCase()) || i.category ==
      'LUBRICACION' && search == '') {
      <div
        class="min-w-[350px] sm:min-w-[220px] bg-white p-4 mb-10 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
      >
        <img
          class="h-50 w-full md:w-55 rounded-2xl object-contain"
          src="{{ i.image1 }}"
          alt="image description"
        />
        <p class="font-bold mt-2 text-sky-950">
          {{ i.name + " (" + i.brand + ")" }}
        </p>
        @if(i.stock === 0){
        <div class="d-block">
          <span
            class="text-red-600 bg-red-100 font-extrabold text-2xl rounded-lg px-3 py-1 ms-2 mb-2 border border-red-300"
            >Agotado</span
          >
        </div>
        }
        <p class="text-gray-700">${{ i.price }}</p>
        @if(i.discaunt != 0) {
        <p class="text-green-500 text-xs">{{ i.discaunt }}% OFF</p>
        }

        <div class="flex flex-row items-center">
          <button
            (click)="redirectTo('/repuesto', i.id)"
            type="button"
            class="text-white mt-2 bg-sky-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            [disabled]="i.stock === 0"
            [ngClass]="i.stock === 0 ? 'opacity-50 cursor-not-allowed' : ''"
          >
            Ver
          </button>
        </div>
        @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
        <button
          (click)="redirectTo('/modificarRepuesto', i.id)"
          type="button"
          class="text-sky-800 mt-5 bg-sky-100 hover:bg-sky-600 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
        >
          Editar
        </button>

        }
      </div>

      } }
    </div>
  </ng-scrollbar>
  }
</div>
