<div
  class="flex flex-col lg:flex-row bg-gray-200 min-h-[calc(100vh-64px)] w-full p-5"
>
  <div class="bg-white h-full w-full m-2 rounded-2xl p-5">
    <div class="border-b-2 border-gray-300 mb-3">
      <p class="font-semibold text-2xl">Productos</p>
    </div>
    @for (item of productos; track $index) {
    <div
      class="flex flex-col lg:flex-row border-b-2 w-full border-gray-300 p-2"
    >
      <img
        class="h-30 w-30 md:w-55 rounded-2xl object-contain"
        src="{{ item.image1 }}"
        alt="image description"
      />
      <div class="flex flex-col">
        <div class="flex flex-row font-bold text-xl w-full">
          {{ item.name }}
        </div>
        <div class="flex flex-row">
          <p
            (click)="putCarrito(item.id)"
            class="text-blue-500 m-1 text-xs font-medium hover:text-blue-800"
          >
            Eliminar
          </p>
        </div>
      </div>
      <form class="max-w-xs mx-auto">
        <label
          for="counter-input"
          class="block mb-1 text-xs font-medium text-gray-400"
          >Cantidad:</label
        >
        <div class="relative flex items-center">
          <button
            type="button"
            (click)="decrementarUnidad($index)"
            data-input-counter-decrement="counter-input "
            class="shrink-0 bg-gray-100 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
          >
            <svg
              class="w-2.5 h-2.5 text-gray-900"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 2"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h16"
              />
            </svg>
          </button>
          <input
            type="text"
            id="counter-input"
            data-input-counter
            class="shrink-0 text-gray-900 border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
            placeholder=""
            value="{{ item.cantidad }}"
          />
          <button
            type="button"
            (click)="aumentarUnidad($index)"
            class="shrink-0 bg-gray-100 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 focus:ring-2 focus:outline-none"
          >
            <svg
              class="w-2.5 h-2.5 text-gray-900"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 18"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 1v16M1 9h16"
              />
            </svg>
          </button>
        </div>
      </form>
      <div class="flex">
        <p class="font-bold text-lg mt-5">
          $ {{ item.price * (1 - item.discaunt / 100) }}
        </p>
      </div>
    </div>
    }
  </div>

  <div class="bg-white flex flex-col w-full h-full m-2 p-5 rounded-2xl">
    <div class="border-b-2 border-gray-300 mb-3">
      <p class="font-semibold text-2xl">Resumen de compra</p>
    </div>
    <div class="flex flex-row font-medium justify-between mt-3">
      <p class="text-gray-700">Productos({{ this.productos.length }})</p>
      <p class="text-gray-700">$ {{ calculateSubtotal() }}</p>
    </div>
    <div class="flex flex-row justify-between mt-3">
      <p class="text-gray-600">Descuento</p>
      <p class="text-gray-600">$ {{ calculateDiscaunt() }}</p>
    </div>
    <div class="flex flex-row justify-between mt-3">
      <p class="text-gray-600">Envío</p>
      <p class="text-green-500">Retirá gratis en sucursal</p>
    </div>
    <div class="flex flex-row justify-between mt-3">
      <p class="font-semibold text-lg">Total</p>
      <p class="font-semibold text-lg">$ {{ calculateTotal() }}</p>
    </div>
    @if(this.rol != 'USER'){
    <button
      type="button"
      id=""
      class="text-white mt-15 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Continuar compra
    </button>
    }
    <div (click)="comprarRepuesto()" id="wallet_container" class="mt-2"></div>
  </div>
</div>
