<div class="min-h-screen overflow-hidden bg-gray-800">
  @if (status == 'WAITING') {
  <div class="w-full p-10 flex flex-col h-screen justify-center bg-gray-800">
    <p class="font-bold text-4xl text-center text-white">
      Lleva tu vehiculo a nuestra sucursal
    </p>
    <p class="text-gray-200 mt-1 text-center">Isaac Albeniz 3622</p>
    <div
      #mapContainer
      id="map"
      class="w-full mt-7 rounded-2xl shadow-2xl"
    ></div>
  </div>
  }
  <!--ESPERANDO-->
  <!--EN COLA-->
  @if(status == 'IN_QUEUE'){
  <div class="p-5 pt-10 bg-gray-800 h-screen">
    <div class="bg-black rounded-2xl p-10 flex flex-col justify-center">
      <div class="text-white text-center font-semibold text-2xl mb-3">
        Estado del Servicio
      </div>
      <ol
        class="flex items-center justify-center w-full mt-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
      >
        <li
          class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex text-green-400 items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            Espera
          </span>
        </li>
        <li
          class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            Proceso
          </span>
        </li>
        <li class="flex items-center">
          <span class="me-2">3</span>
          Finalizado
        </li>
      </ol>
    </div>
    <div></div>
    <div class="text-center text-green-500 font-bold text-5xl mt-22">
      Su vehiculo se encuentra en espera para ser atendido
    </div>
    <div class="text-center text-gray-400 font-semibold text-2xl mt-10">
      Pronto sera revisado por nuestros mejores profesionales
    </div>
  </div>
  }
  <!--EN COLA-->
  <!--EN PROCESO-->
  @if(status == 'PROCESS'){
  <div
    class="p-10 flex-col gap-3 items-center justify-center bg-gray-800 h-screen"
  >
    <div
      class="bg-black rounded-2xl p-10 flex flex-col justify-center items-center"
    >
      <div class="text-white text-center font-semibold text-2xl mb-3">
        Estado del Servicio
      </div>
      <ol
        class="flex items-center justify-center w-full mt-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
      >
        <li
          class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex text-green-400 items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            Espera
          </span>
        </li>
        <li
          class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex items-center text-green-400 after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>

            Proceso
          </span>
        </li>
        <li class="flex items-center">
          <span class="me-2">3</span>
          Finalizado
        </li>
      </ol>
    </div>
    <div></div>
    <div class="text-center text-green-500 font-bold text-5xl mt-25">
      Su vehiculo se esta siendo atendido por nuestros mejores profesionales
    </div>
    <div class="text-center text-gray-400 font-semibold text-2xl mt-5">
      En cuanto terminemos con el proceso, le avisaremos
    </div>
  </div>
  }
  <!--EN PROCESO-->
  <!--FINALIZADO-->
  @if(status == 'FINISHED'){
  <div class="p-10 bg-gray-800 h-screen">
    <div
      class="bg-black rounded-2xl p-10 flex flex-col justify-center items-center"
    >
      <div class="text-white text-center font-semibold text-2xl mb-3">
        Estado del Servicio
      </div>
      <ol
        class="flex items-center justify-center w-full mt-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
      >
        <li
          class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex text-green-400 items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            Espera
          </span>
        </li>
        <li
          class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex items-center text-green-400 after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>

            Proceso
          </span>
        </li>
        <li class="flex items-center">
          <span
            class="flex items-center text-green-400 sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>

            Finalizado
          </span>
        </li>
      </ol>
    </div>
    <div></div>
    <div class="text-center text-green-500 font-bold text-5xl mt-20">
      Finalizado
    </div>

    <div class="text-white font-normal text-md mt-1">
      Auto: {{ Object.auto }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Modelo: {{ Object.modelo }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Observaciones Previas: {{ Object.observacionesPrevias }}
    </div>
    @if(Object.type == 'INSPECTION'){
    <div class="text-white font-normal text-md mt-1">
      Estado General: {{ Object.estadoGeneral }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Resultado: {{ Object.resultado }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Recomendaciones: {{ Object.recomendaciones }}
    </div>
    }
    <!--INSPECTION-->

    <!--REPAIR-->
    @if(Object.type == 'REPAIR'){
    <div class="text-white font-normal text-md mt-1">
      Diagnostico Tecnico: {{ Object.techniclaDiagnosis }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Tareas Realizadas: {{ Object.tasksPerformed }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Repuestos Usados: {{ Object.tasksPerformed }}
    </div>
    }
    <!--REPAIR-->
    <!--CUSTOMIZATION-->
    @if(Object.type == 'CUSTOMIZATION'){
    <div class="text-white font-normal text-md mt-1">
      Tareas Realizadas: {{ Object.taskRealized }}
    </div>
    <div class="text-white font-normal text-md mt-1">
      Repuestos Usados: {{ Object.materialsUsed }}
    </div>

    }
    <div class="text-white font-bold text-md mt-3">
      Costo Total: ${{ Object.cost }}
    </div>
  </div>
  }
  <!--FINALIZADO-->
</div>
