<form class="py-4 md:py-8 p-4">
  <div class="flex">
    <select
      id="countries"
      name="category"
      (change)="filter()"
      [(ngModel)]="status"
      class="bg-gray-50 border me-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
    >
      <option value="" selected>Categorias</option>
      <option value="WAITING">Esperando</option>
      <option value="IN_QUEUE">En Cola</option>
      <option value="PROCESS">Trabajando</option>
      <option value="FINISHED">Finalizado</option>
      <option value="WITHDRAW">Retirado</option>
    </select>
    <select
      id="countries"
      name="category"
      (change)="filter()"
      [(ngModel)]="status"
      class="bg-gray-50 border me-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
    >
      <option value="" selected>Estado del Pago</option>
      <option value="PAID">Pagados</option>
      <option value="UNPAID">Sin Pagar</option>
    </select>
    <div class="relative w-full">
      <input
        type="search"
        [(ngModel)]="search"
        name="search"
        (input)="filter()"
        id="search-dropdown"
        class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Search"
      />
      <button
        type="submit"
        class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </button>
    </div>
    @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
    <button
      (click)="redirectToTo('/registrarRepuesto')"
      type="button"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 ms-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Añadir
    </button>
    }
  </div>
</form>

<!-- ESPERANDO -->
@if(status == 'WAITING' || status == '' ) {
<p class="p-2 font-bold ms-10 text-3xl font-normal">Esperando</p>
<ng-scrollbar visibility="hover" track="horizontal">
  <div class="flex gap-6 p-5">
    @for (i of listFilteres; track $index) { @if(i.status == 'WAITING' ) {
    <div
      class="min-w-[350px] sm:min-w-[220px] bg-white p-4 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
    >
      <div class="flex flex-col h-45 bg-indigo-700 rounded-full">
        <svg
          class="w-20 h-30 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z"
            clip-rule="evenodd"
          />
        </svg>
        <p class="text-white font-bold">Inspeccion</p>
      </div>
      <p class="font-bold mt-2">{{ i.auto + " (" + i.modelo + ")" }}</p>
      <p class="text-gray-700">{{ i.nombreCompleto }}</p>
      @if(i.paymentStatus == 'UNPAID') {
      <div class="block">
        <span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300"
          >Sin pagar</span
        >
      </div>

      }@else {
      <div class="block">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
          >Pagado</span
        >
      </div>
      }

      <button
        type="button"
        class="text-white mt-5 bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Ver
      </button>
      @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
      <button
        (click)="redirectTo('/modificarRepuesto', i.id)"
        type="button"
        class="text-white mt-5 bg-yellow-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
      >
        Editar
      </button>
      }
    </div>
    } }
  </div>
</ng-scrollbar>
}
<!--EN COLA-->
@if(status == 'PROCESS' || status == '') {
<p class="p-2 font-normal ms-10 text-3xl">Refrigeracion</p>
<ng-scrollbar visibility="hover" track="horizontal">
  <div class="flex gap-6 p-5">
    @for (i of lst; track $index) { @if(i.status == 'PROCESS') {
    <div
      class="min-w-[350px] sm:min-w-[220px] bg-white p-4 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
    >
      <img
        class="h-50 w-full md:w-55 rounded-2xl object-contain"
        src="{{ i.image1 }}"
        alt="image description"
      />
      <p class="font-bold mt-2">{{ i.name + " (" + i.brand + ")" }}</p>
      <p class="text-gray-700">${{ i.price }}</p>
      @if(i.discaunt != 0) {
      <p class="text-green-500 text-xs">{{ i.discaunt }}% OFF</p>
      }
      <button
        (click)="redirectTo('/repuesto', i.id)"
        type="button"
        class="text-white mt-5 bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Ver
      </button>
      @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
      <button
        (click)="redirectTo('/modificarRepuesto', i.id)"
        type="button"
        class="text-white mt-5 bg-yellow-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
      >
        Editar
      </button>
      }
    </div>
    } }
  </div>
</ng-scrollbar>
} @if(status == 'FINISHED' || status == '') {
<p class="p-2 font-normal ms-10 text-3xl">Esperando Retiro</p>
<ng-scrollbar visibility="hover" track="horizontal">
  <div class="flex gap-6 p-5">
    @for (i of lst; track $index) { @if(i.status == 'FINISHED' ) {
    <div
      class="min-w-[350px] sm:min-w-[220px] bg-white p-4 rounded-2xl shadow hover:shadow-2xl transition duration-300 ease-in-out"
    >
      <img
        class="h-50 w-full md:w-55 rounded-2xl object-contain"
        src="{{ i.image1 }}"
        alt="image description"
      />
      <p class="font-bold mt-2">{{ i.name + " (" + i.brand + ")" }}</p>
      <p class="text-gray-700">${{ i.price }}</p>
      @if(i.discaunt != 0) {
      <p class="text-green-500 text-xs">{{ i.discaunt }}% OFF</p>
      }
      <button
        (click)="redirectTo('/repuesto', i.id)"
        type="button"
        class="text-white mt-5 bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Ver
      </button>
      @if(rol == 'ADMIN' || rol == 'SUPERADMIN'){
      <button
        (click)="redirectTo('/modificarRepuesto', i.id)"
        type="button"
        class="text-white mt-5 bg-yellow-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
      >
        Editar
      </button>
      }
    </div>
    } }
  </div>
</ng-scrollbar>
}
