<div class="bg-gray-900 font-mono">
  <div class="flex flex-col items-center justify-center h-screen">
    <div
      class="flex flex-col items-baseline justify-center bg-white p-5 rounded-2xl shadow-2xl"
    >
      <div class="border-b-2 border-gray-300 mb-3">
        <h1 class="text-3xl font-bold mb-2">Detalles de la Venta</h1>
      </div>
      <div class="border-b-2 border-gray-300 w-full">
        <p class="text-lg">Nombre del Cliente: {{ this.venta.user }}</p>
        <p class="text-lg">
          Fecha: {{ this.venta.date | date : "dd/MM/yyyy" }}
        </p>
        <p class="text-lg">Total: ${{ venta.total }}</p>
      </div>
      <div class="w-full">
        <p class="font-semibold text-2xl">Productos</p>
      </div>
      @for (item of venta.details; track $index) {
      <div class="border-gray-300 border-b-2 mb-3 mt-3 w-full">
        <p>Id: {{ $index + 1 }}</p>
        <p>Nombre: {{ item.name }}</p>
        <p>Marca: {{ item.brand }}</p>
        <p>Cantidad: {{ item.quantity }}</p>
        <p>Precio: {{ item.price }}</p>
      </div>
      }
    </div>
  </div>
</div>
