<div class="bg-gray-900">
  <div class="flex flex-col items-center justify-center h-screen">
    <div
      class="flex flex-col items-baseline justify-center bg-white p-5 rounded-2xl shadow-2xl"
    >
      <div class="border-b-2 border-gray-300 mb-3">
        <h1 class="text-3xl font-bold mb-2">Detalles de la Venta</h1>
      </div>
      <div class="border-b-2 border-gray-300 w-full">
        <p class="text-lg">Nombre del Cliente:</p>
        <p class="text-lg">Fecha de la Venta:</p>
        <p class="text-lg">Total:</p>
      </div>
      <div class="w-full">
        <p class="font-semibold text-2xl">Productos</p>
      </div>
      <div class="border-gray-300 border-b-2 mb-3 mt-3 w-full">
        <p>Id:</p>
        <p>Nombre:</p>
        <p>Cantidad:</p>
        <p>Precio:</p>
      </div>
      <div class="border-gray-300">
        <p>Id:</p>
        <p>Nombre:</p>
        <p>Cantidad:</p>
        <p>Precio:</p>
      </div>
    </div>
  </div>
</div>
