<div>
  <div class="flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold mb-4">Detalles de la Venta</h1>
      <p class="text-lg">Nombre del Cliente:</p>
      <p class="text-lg">Fecha de la Venta:</p>
      <p class="text-lg">Total:</p>
    </div>
    <div class="mt-8">
      <h2 class="text-xl font-bold mb-4">Productos Vendidos</h2>
      <ul class="list-disc list-inside"></ul>
    </div>
  </div>
</div>
