<div class="bg-sky-500 h-screen flex items-center justify-center">
  <div class="bg-sky-100 rounded-l-lg w-1/4 h-2/3 items-center">
    <h1 class="text-3xl font-bold text-clifford text-center mt-5">
      Inicia Sesion
    </h1>
    <div class="mt-3 justify-center flex flex-col items-center">
      <label for="" class="p-3">Email</label>
      <input type="email" class="ms-3 border rounded w-70" />
      <label for="" class="p-3">Contraseña</label>
      <input class="border ms-3 rounded mb-5 w-70" type="password" />
    </div>
  </div>
  <div class="bg-sky-950 rounded-r-lg w-1/4 text-white h-2/3">
    <h1 class="text-3xl font-bold text-clifford text-center mt-5">
      Hola, Amigo!
    </h1>
  </div>
</div>
