/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.custom-div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.leaflet-container .leaflet-marker-icon {
  background-image: url('assets/leaflet/marker-icon.png');
}


