<div class="bg-sky-200 min-h-screen w-full p-10">
  <div class="bg-white rounded-2xl p-7">
    <p class="text-center text-5xl text-sky-950 mx-auto font-bold">
      Preguntas Frecuentes
    </p>
  </div>
  @if (rol == 'USER') {
  <div class="flex flex-col justify-center mt-3 bg-white rounded-2xl p-5">
    <!-- Pregunta 1 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(0, true)"
          [ngClass]="{ 'bg-gray-100': userOpen[0] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950">Como me contacto?</span>
          <svg
            [ngClass]="{ 'rotate-180': userOpen[0] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (userOpen[0]) {
      <div class="bg-white">
        <div class="p-5 border border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Puedes llamarnos al +54 351 7466695.
          </p>
          <p class="mb-2 text-gray-500 f">
            O puedes enviarnos un mail a mechanictechgmail.com
          </p>
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 2 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(1, true)"
          [ngClass]="{ 'bg-gray-100': userOpen[1] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950"
            >Como consulto el estado de mi servicio?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': userOpen[1] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (userOpen[1]) {
      <div class="bg-white">
        <div class="p-5 border border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Una vez realizado tu pedido en el menu izquierdo podras consultar el
            estado en que se encuentra su servicio.
          </p>
          <img src="servicios.png" class="rounded-2xl m-3" alt="" />
          <p class="mb-2 text-gray-500 mt-2 f">
            Una vez finalizado el servicio te llegara una notificacion en la
            pagina remarcando la finalizacion del mismo.
          </p>
          <img
            src="serviciofinalizado.png"
            class="rounded-2xl h-20 f m-3"
            alt=""
          />
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 3 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(2, true)"
          [ngClass]="{ 'bg-gray-100': userOpen[2] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950"
            >Que medios de pago aceptan?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': userOpen[2] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (userOpen[2]) {
      <div class="bg-white">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Actualmente solo se acepta Mercado Pago y Efectivo.
          </p>
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 4 -->
    <div class="m-2">
      <h2 class="rounded-xl fw-bold">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(3, true)"
          [ngClass]="{ 'bg-gray-100': userOpen[3] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950 fw-bold"
            >Tienen envio a domicilio?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': userOpen[3] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (userOpen[3]) {
      <div class="bg-white">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Todos los productos que se compren mediante esta pagina deberan ser
            retirados presencialmente en isaac albeniz 3622.
          </p>
        </div>
      </div>
      }
    </div>
  </div>
  } @else {
  <div class="flex flex-col justify-center mt-3 bg-white rounded-2xl p-5">
    <!-- Pregunta 1 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(0, false)"
          [ngClass]="{ 'bg-gray-100': otherOpen[0] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950"
            >Como me contacto con un empleado?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': otherOpen[0] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (otherOpen[0]) {
      <div class="bg-white">
        <div class="p-5 border border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Puedes llamarnos al +54 351 7466695.
          </p>
          <p class="mb-2 text-gray-500 f">
            O puedes enviarnos un mail a mechanictechgmail.com
          </p>
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 2 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(1, false)"
          [ngClass]="{ 'bg-gray-100': otherOpen[1] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950"
            >Como registro un pago en efectivo?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': otherOpen[1] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (otherOpen[1]) {
      <div class="bg-white">
        <div class="p-5 border border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Los pagos en efectivo solo estan disponible de manera presencial en
            nuestra sucursal.
          </p>
          <img src="servicios.png" class="rounded-2xl m-3" alt="" />
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 3 -->
    <div class="m-2">
      <h2 class="rounded-xl">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(2, false)"
          [ngClass]="{ 'bg-gray-100': otherOpen[2] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950"
            >Que medios de pago aceptan?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': otherOpen[2] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (otherOpen[2]) {
      <div class="bg-white">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Actualmente solo se acepta Mercado Pago y Efectivo.
          </p>
        </div>
      </div>
      }
    </div>
    <!-- Pregunta 4 -->
    <div class="m-2">
      <h2 class="rounded-xl fw-bold">
        <button
          type="button"
          class="flex items-center rounded-2xl justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 bg-white gap-3"
          (click)="toggleAccordion(3, false)"
          [ngClass]="{ 'bg-gray-100': otherOpen[3] }"
          style="background-color: #fff !important; color: #0c223a !important"
        >
          <span class="flex items-center text-sky-950 fw-bold"
            >Tienen envio a domicilio?</span
          >
          <svg
            [ngClass]="{ 'rotate-180': otherOpen[3] }"
            class="w-3 h-3 shrink-0 transition-transform"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      @if (otherOpen[3]) {
      <div class="bg-white">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-2xl">
          <p class="mb-2 text-gray-500 f">
            Todos los productos que se compren mediante esta pagina deberan ser
            retirados presencialmente en isaac albeniz 3622.
          </p>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>

<!-- Pregunta 2 -->

<!--ENVIO A DOMICILIO-->
