<div class="p-5 bg-sky-100 h-screen w-full">
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg h-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <caption
        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white rounded-t-2xl"
      >
        <p class="text-sky-950 text-5xl font-bold text-center mb-4">
          Proveedores
        </p>

        <div class="flex flex-row align-middle">
          <form class="mt-5 w-full">
            <div class="flex">
              <select
                id="countries"
                name="category"
                (change)="filter()"
                [(ngModel)]="category"
                class="bg-gray-50 border me-3 border-gray-300 text-gray-900 text-sm rounded-2xl focus:ring-blue-500 focus:border-blue-500 block p-2.5"
              >
                <option value="" selected>Categorias</option>
                <option value="MOTOR">Motor</option>
                <option value="REFRIGERACION">Refrigeracion</option>
                <option value="LUBRICACION">Lubricacion</option>
              </select>
              <div class="relative w-full">
                <input
                  (input)="filter()"
                  type="search"
                  name="search"
                  id="search-dropdown"
                  class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-2xl rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Nombre.."
                  [(ngModel)]="search"
                />
                <button
                  type="submit"
                  class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium rounded-e-2xl text-white bg-sky-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
                >
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <button
            (click)="redirectTo('/registrarProveedor')"
            type="button"
            class="focus:outline-none m-5 text-white bg-sky-700 rounded-2xl hover:bg-sky-600 focus:ring-4 focus:ring-green-300 font-medium text-sm px-5 py-2.5 me-2 mb-2"
          >
            Añadir
          </button>
        </div>
      </caption>

      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-sky-950">Nombre</th>
          <th scope="col" class="px-6 py-3 text-sky-950">Ubicacion</th>
          <th scope="col" class="px-6 py-3 text-sky-950">Categoria</th>
          <th scope="col" class="px-6 py-3 text-sky-950">Telefono</th>
          <th scope="col" class="px-6 py-3 text-sky-950">Estado</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="rounded-b-2xl">
        @for (i of lstFiltered; track $index) {
        <tr class="bg-white border-b border-gray-200">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ i.name }}
          </th>
          <td class="px-6 py-4">{{ i.city + ", " + i.country }}</td>
          <td class="px-6 py-4">{{ i.category }}</td>
          <td class="px-6 py-4">{{ i.phone }}</td>
          @if(i.state == true){
          <td class="px-6 py-4 text-green-600 font-bold">Activo</td>
          } @else {
          <td class="px-6 py-4 text-red-600 font-bold">Inactivo</td>
          }
          <td class="px-6 py-4 text-right">
            <button
              (click)="setProveedor(i.id)"
              type="button"
              class="text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            >
              Ver
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
