<div class="h-screen w-full p-5 bg-gradient-to-tr from-sky-600 to-sky-200">
  @if(notifications.length === 0) {
  <div
    class="text-center text-white font-bold flex items-center justify-center text-2xl h-64"
  >
    <p class="text-center text-white font-bold">
      Parece que no hay notificaciones aun
    </p>
  </div>

  } @else{ @for (item of notifications; track $index) {
  <div
    id="toast-interactive"
    class="w-full p-4 m-3 text-gray-500 rounded-lg bg-white shadow-md"
    role="alert"
  >
    <div class="flex">
      <div
        class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-green-500"
      >
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 11.917 9.724 16.5 19 7.5"
          />
        </svg>

        <span class="sr-only">Refresh icon</span>
      </div>
      <div class="ms-3 text-sm font-normal">
        <span class="mb-1 text-xl font-bold text-sky-950">{{
          item.title
        }}</span>
        <div class="mb-2 text-sm font-normal">
          {{ item.message }}
        </div>
        <div class="mb-1 text-sm font-normal">
          Hace {{ calculateTimeDiff(item.dateTime) }}
        </div>
      </div>
    </div>
  </div>
  } }
</div>
